---
import Layout from "@/layouts/Layout.astro";
import { Slider } from "@/ui/Slider";
---

<Layout title="Ele Portfolio">
  <main class="flex-grow">
    <section class="relative h-[calc(100vh-4rem)] bg-gray-100">
      <img
        alt="Hero image"
        class="object-cover w-full h-full"
        src="https://res.cloudinary.com/diusjfaoe/image/upload/v1672679365/cld-sample-3.jpg"
      />

      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center"
      >
        <div class="text-center text-white">
          <h2 class="text-6xl font-bold mb-4">ELE CABRERA</h2>
          <p class="text-xl">Model</p>
        </div>
      </div>
    </section>

    <Slider client:visible />
  </main>
</Layout>
