---
import Header from "@/components/HeaderComponent.astro"

interface Props {
  title: string;
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <a rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{title}</title>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <Header />

      <slot />

      <footer class="w-full py-6 bg-gray-100">
        <div class="max-w-7xl mx-auto px-6 flex justify-center space-x-6">
          <p>Made with❤️by <a class="underline" href="https://jm-dev-studio-git-dev-jhosep98.vercel.app/" target="_blank" rel="noopener noreferrer">JMDev Studio</a></p>
          <!-- <div class="flex gap-1 items-center">
            <a href="#" class="text-gray-600 hover:text-gray-900">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-instagram"
              >
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
              </svg>
            </a>
  
            <a href="#" class="text-gray-600 hover:text-gray-900">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-facebook"
              >
                <path
                  d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                />
              </svg>
            </a>
          </div> -->
        </div>
      </footer>
    </div>
  </body>
</html>